<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syon.isrms">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!--
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    -->
    <!--
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Utilty.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Firebase Notifications -->

        <service android:name=".FirebaseNotification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseNotification.MyFirebaseMassagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.Splash"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.Slide_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Attend"
            android:label="@string/title_activity_attend"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Transport"
            android:label="@string/title_activity_transport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Transport" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Fees_Info"
            android:label="@string/title_activity_fees__info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Fees_Info" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Profile"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Online_Payment"
            android:label="@string/title_activity_online__payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Online_Payment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.News"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="News" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Birthday"
            android:label="@string/title_activity_birthday"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Birthday" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Circular"
            android:label="@string/title_activity_circular"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Circular" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Homework"
            android:label="@string/title_activity_homework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Homework" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Time_Table"
            android:label="@string/title_activity_time__table"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Time_Table" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainExamNextActivity"
            android:label="@string/title_activity_main_exam_next"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Observation"
            android:label="@string/title_activity_observation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Observation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Library"
            android:label="@string/title_activity_library"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Library" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Medical_Record"
            android:label="@string/title_activity_medical__record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Medical_Record" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MyTeacher"
            android:label="@string/title_activity_my_teacher"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MyTeacher" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Tuckshop"
            android:label="@string/title_activity_tuckshop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Tuckshop" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Exam_Result"
            android:label="@string/title_activity_exam__result"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Exam_Result" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.PayUMoney"
            android:label="@string/title_activity_pay_umoney"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Detail_Tuckshop"
            android:label="@string/title_activity_detail__tuckshop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Tracking"
            android:label="@string/title_activity_tracking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Leave"
            android:label="@string/title_activity_leave"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Leave" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Dashboard"
            android:label="@string/title_activity_teacher__dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Profile"
            android:label="@string/title_activity_teacher__profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Library_Status"
            android:label="@string/title_activity_library__status"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Library_Status" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Attendance_Entry"
            android:label="@string/title_activity_teacher__attendance__entry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Attendance_Entry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Marks_Entry"
            android:label="@string/title_activity_teacher__marks__entry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Marks_Entry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Taacher_Gen_Remark_Entry"
            android:label="@string/title_activity_taacher__gen__remark__entry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Taacher_Gen_Remark_Entry" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Co_Sch_Remark_Entry"
            android:label="@string/title_activity_teacher__co__sch__remark__entry"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_News"
            android:label="@string/title_activity_teacher__news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_News" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Circular"
            android:label="@string/title_activity_teacher__circular"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Circular" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Salary_Slip"
            android:label="@string/title_activity_teacher__salary__slip"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Salary_Slip" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Homework"
            android:label="@string/title_activity_teacher__homework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_MyLeaves"
            android:label="@string/title_activity_teacher__my_leaves"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_MyLeaves" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Result_Analysis"
            android:label="@string/title_activity_teacher__result__analysis"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Class_Attendance"
            android:label="@string/title_activity_teacher__class__attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_My_Attendance"
            android:label="@string/title_activity_teacher__my__attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_My_Attendance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MassageReciver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.Teacher_Comunication"
            android:label="@string/title_activity_teacher__comunication"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Comunication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Event_Calender"
            android:label="@string/title_activity_teacher__event__calender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Event_Calender" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Birthday"
            android:label="@string/title_activity_teacher__birthday"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Teacher_Event_Calender" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Teacher_Result_Analysis_Detail"
            android:label="@string/title_activity_teacher__result__analysis__detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Take_Leave"
            android:label="@string/title_activity_teacher__take__leave"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Compose_Mail"
            android:label="@string/title_activity_teacher__compose__mail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Compose_DataList"
            android:label="@string/title_activity_teacher__compose__data_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_View_Homework"
            android:label="@string/title_activity_teacher__view__homework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Parent_Event_Calender"
            android:label="@string/title_activity_parent__event__calender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Parent_Communication"
            android:label="@string/title_activity_parent__communication"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Parent_Communication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Parent_Compose_Mail"
            android:label="@string/title_activity_parent__compose__mail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Parent_Compose_DataList"
            android:label="@string/title_activity_parent__compose__data_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Parent_Sms"
            android:label="@string/title_activity_parent__sms"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Parent_Sms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Parent_Attendance"
            android:label="@string/title_activity_parent__attendance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="Parent_Attendance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Broadcast_Recievers.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.syon.isrms.Activity"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                tools:replace="android:resource"/>
        </provider>
        -->

        <activity
            android:name=".Activity.User_Downloads"
            android:label="@string/title_activity_user__downloads"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Parent_Homework"
            android:label="@string/title_activity_parent__homework"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Result_Grafical_Details"
            android:label="@string/title_activity_teacher__result__grafical__details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Dashboard"
            android:label="@string/title_activity_admin__dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".Activity.Admin_School_Strength"
            android:label="@string/title_activity_admin__school__strength"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Result_Analysis"
            android:label="@string/title_activity_admin__result__analysis"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Daily_Reports"
            android:label="@string/title_activity_admin__daily__reports"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Yearly_Report"
            android:label="@string/title_activity_admin__yearly__report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_School_Strength_Detail"
            android:label="@string/title_activity_admin__school__strength__detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Class_Result_Detail"
            android:label="@string/title_activity_admin__class__result__detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Class_Teacher_Result_Analysis_Second"
            android:label="@string/title_activity_admin__class__teacher__result__analysis__second"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Class_Teacher_Result_Analysis_Detail"
            android:label="@string/title_activity_admin__class__teacher__result__analysis__detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Event_Calender"
            android:label="@string/title_activity_admin__event__calender"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Topper_List"
            android:label="@string/title_activity_admin__topper__list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Monthly_Salary_Summary"
            android:label="@string/title_activity_admin__monthly__salary__summary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Class_Time_Table"
            android:label="@string/title_activity_admin__class__time__table"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Leave_Approval"
            android:label="@string/title_activity_admin__leave__approval"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Class_Attendance"
            android:label="@string/title_activity_admin__class__attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Employee_Attendance"
            android:label="@string/title_activity_admin__employee__attendance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_News"
            android:label="@string/title_activity_admin__news"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Circular"
            android:label="@string/title_activity_admin__circular"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Toppers_List_Web"
            android:label="@string/title_activity_admin__toppers__list__web"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Department_Salary_Slip"
            android:label="Admin Department Salary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.iSRMS_Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.iSRMS_Choose_School"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Parent_Add_Acoount"
            android:label="@string/title_activity_parent__add__acoount"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Communication"
            android:label="Admin Communication"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Communication_Mail"
            android:label="Compose Mail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Communocation_Mail_List"
            android:label="Admin Data list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_News_View"
            android:label="@string/title_activity_admin__news__view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_View_Circulars"
            android:label="@string/title_activity_admin__view__circulars"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Admin_Discussion_Board"
            android:label="Admin Discussion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Teacher_Discusiion_Board"
            android:label="Teacher Discussion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

    </application>

</manifest>